.password-input-container {
    position: relative;
    display: flex;
    width: 100%;
}

.password-input-toggle {
    position: absolute;
    right: 10px;
}

.password-input-container  input {
    padding-right: 60px;
}

.password-input-container  button {
    background-color: transparent;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    font-size: 12px;
}

.password-input-container  button:hover {
    border: none;
    color: #CCC;
}